.login{
    display: grid;
    place-items: center;
    height: 100vh; 
    background-color: black;
}

.login > img {
    width: 200;
}

.login > a {
    padding : 20px;
    background-color: #1ed760;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}